<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customUCenterSiteConfigProvider" class="com.whaty.framework.ucenter.provider.CustomUCenterSiteConfigProvider" />

    <bean id="uCenterService" class="com.whaty.ucenter.oauth2.sdk.service.impl.DefaultUCenterService">
        <property name="uCenterSiteConfigProvider" ref="customUCenterSiteConfigProvider"/>
    </bean>

</beans>